body {
	height: 883px;
	width: 1219px;
	position:relative;
	left:40px;
	font-family: arial;
	font-size: 19px;
	padding-left: 30px;
}

.grey_box {
	height: 140px;
	width: 310px;
	background-color: #eeeeee;
	float: right;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	margin-right: 62px;
}

.koalainfo {
	color:#666c7b;
	padding-left: 12px;
	font-size: 15px;
	padding-bottom: 10px;
}

#koalainfoheader {
	font-size: 25px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
}

.yellowbox {
	position:relative;
	right:20px;
	padding-left: 20px;
	background-color: #f3cd4a;
	height: 50px;
	width: 200px;
	display: flex;
	align-items: center;
	font-size: 28px;
	font-weight: bold;
}

.headers {
	font-weight:bold;
	font-size: 22px;
}

#koalaclass1 {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 5px 0px;
}
#koalaclass {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 5px 0px;
}
#koalaclass3 {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 5px 0px;
}

paragraph1 {
	margin-left: 10px;
	padding-left: 10px;
}