body {
	font-family: arial;
	font-size: 19px;
	height: 883px;
	left: 40px;
	padding-left: 30px;
	position: relative;
	width: 1219px;
}

.grey-box {
	background-color: #eeeeee;
	display: flex;
	flex-direction: column;
	float: right;
	height: 140px;
	justify-content: space-around;
	margin-right: 62px;
	width: 310px;
}

.koalainfo {
	color: #666c7b;
	font-size: 15px;
	padding-bottom: 10px;
	padding-left: 12px;
}

#koalainfoheader {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 10px;
}

.yellowbox {
	align-items: center;
	background-color: #f3cd4a;
	display: flex;
	font-size: 28px;
	font-weight: bold;
	height: 50px;
	padding-left: 20px;
	position: relative;
	right: 20px;
	width: 200px;
}

.headers {
	font-size: 22px;
	font-weight: bold;
}

#koalaclass1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5px 0px;
}
#koalaclass {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5px 0px;
}
#koalaclass3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5px 0px;
}

paragraph1 {
	margin-left: 10px;
	padding-left: 10px;
}