body {
    background-color: white;
    height: 699px;
    width: 420px;
}

.gridcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
}

.darkcolumn {
    background-color: #021c2d;
    display:grid;
    grid-template-rows: repeat(auto-fill, minmax(35px, 1fr));
    height: 699px;
}

.lightcolumn {
    background-color: #00263f;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(35px, 1fr));
    height: 699px;
}

.upper-red-square {
    background-color: #e94659;
    grid-row-start: 18;
    height: 35px;
    width: 33px;
}

.lower-red-square {
    background-color: #e94659;
    grid-row-start: 19;
    height: 35px;
    width: 33px;
}

.lower-purple-square1 {
    background-color: #ae81ff;
    grid-row-start: 13;
    height: 35px;
    width: 33px;
}

.upper-purple-square1 {
    background-color: #ae81ff;
    grid-row-start: 12;
    height: 34px;
    width: 33px;
}

.lower-purple-square2 {
    background-color: #ae81ff;
    grid-row-start: 19;
    height: 35px;
    width: 33px;
}

.upper-purple-square2 {
    background-color: #ae81ff;
    grid-row-start: 18;
    height: 35px;
    width: 33px;
}

.triangle {
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(248, 237, 237);
    height: 0;
    margin: 2px;
    width: 0;
 }